<a href="" class="logo">
  <span class="material-symbols-outlined" id="logo">
    view_kanban
  </span>
  DMDC
</a>
<div id="navigator">
  <a href="/">
    <span class="material-symbols-outlined">
      dataset
    </span>
    Início
  </a>
  <a href="logs">
    <span class="material-symbols-outlined">
      menu_open
      </span>
    Logs
  </a>
  <a href="" class="charts">
    <span class="material-symbols-outlined">
      ssid_chart
      </span>
    Gráficos
  </a>
  <a href="grupo">
    <span class="material-symbols-outlined">
      group
      </span>
    Grupo
  </a>
</div>

<a href="https://www.google.com">
  <span class="material-symbols-outlined button">
    close
    </span>
    Sair
</a>