
{% macro log_block(measure) -%}

  <div class="measure-block" onclick="expand_log(this)">
    <div class="measure-log">
      <h3>{{ measure.date }}</h3>
      <ul class="measure-header-details">
        <li>{{ measure.voltageMAx }}V</li>
        <li>{{ measure.voltageMed }}V</li>
        <li>{{ measure.voltageMin }}V</li>
      </ul>
      <p class="measure-header-title">TENSÃO</p>
      <ul class="measure-header-details">
        <li>{{ measure.currentMAx }}A</li>
        <li>{{ measure.currentMed }}A</li>
        <li>{{ measure.currentMin }}A</li>
      </ul>
      <p class="measure-header-title">CORRENTE</p>
      <span class="material-symbols-outlined">
       expand_more
      </span>
    </div>
    <div class="measure-details">
      {% if measure.voltageMed > 230 or measure.voltageMed < 191 %}
        {% if measure.voltageMed > 230 %}
          <p style="color:red;"> TENSÃO CRÍTICA - ALTA </p>
        {% else %}
          <p style="color:red;"> TENSÃO CRÍTICA - BAIXA </p>
        {% endif %}
      {% else %}
      <p style="color:green;"> TENSÃO NORMAL </p>
      {% endif %}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt maximus posuere. Donec pulvinar ullamcorper quam, et volutpat diam suscipit rutrum. Curabitur mollis, erat id elementum egestas, ligula mi vulputate arcu, a pretium erat dui quis tellus. Nulla ac porttitor quam, vel fringilla arcu.</p>
    </div>
  </div>

{%- endmacro %}
