.measure-log {
  overflow-y: auto;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.measure-log h3 {
  color: #1F3C4D;
}

.measure-log:last-child {
  border-bottom: none;
}

.measure-log #list_header {
  width: 126.328px;
}

.measure-log #list_header .measure_header {
  overflow-y: hidden;
}

.measure-log ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.measure-log ul li {
  margin: 5px;
  padding: 5px;
  width: 30px;
  text-align: center;
  font-size: 13px;
  color: #336380;
}

@media screen and (max-width: 700px) {
  .measure-log ul {
    flex-direction: column;
  }

  .measure-log ul li {
    padding: auto;
    margin: auto;
  }

  .measure-log h3 {
    width: 100px;
  }

  .measure-log #list_header {
    width: 100px;
  }
}

